body {
  background-color: #E4F3F9;
  overflow: hidden;
  width: 100%;
  height: 100%;

}

h1 {
  text-align: center;
}

.center {
	
    margin: auto;
    width: 60%;
    padding: 20px;
}


div.info {

	margin: auto;
    width: 60%;
    padding: 20px;
	text-align: center;

}

.btnText {
	font-size: large;
}

.buttons {
	text-align: center;
}


